<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Instructions</h1>

    <p><b>KEYS -></b><br>
    <br>CREATE : create and add data to the database.
    <br>READ : view all data in database.
    <br>UPDATE : update/ change existing data in the database.
    <br>DELETE : delete data in the database.
    <br>INSTRUCTIONS : view these instructions again.<br><br>></p>

    <form action="/home" methods="get, post">
    <label for="Enter key ->"
    <input type="text" name="key">
    <button type="submit">Submit</button>
</body>
</html>