<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Instructions</h1>
    <p><b>KEYS -></b><br>
    <br><a href="https://127.0.0.1:5000/create">CREATE</a> : Create and add data to the database.
    <br><a href="https://127.0.0.1:5000/view">READ</a> : view/ read all data in database.
    <br><a href="https://127.0.0.1:5000/update">UPDATE</a> : update/ change existing data in the database.
    <br><a href="https://127.0.0.1:5000/delete">DELETE</a> : delete data in the database.
</body>
</html>